@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
@import './variables';

@import "../node_modules/bootstrap/scss/bootstrap";

@import '../app/components/StartComponent/Title/title.scss';
@import '../app/components/GameComponent/Board/board.scss';
@import '../app/components/GameComponent/Info/info.scss';

@import '../app/components/GameComponent/Spinner/spinner.scss';


:root {
  font-family: 'Mukta', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  -webkit-text-size-adjust: 100%;
}

#root {
  padding: 2rem;
  width: 100%;
}

body {
  margin: 0;
  background-color: $black;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}